In [1]:
import pandas as pd
import numpy as np
import io
import dvc.api
# from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os

import warnings; warnings.simplefilter('ignore')

In [2]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [3]:
df_train = pd.read_csv('../data/df_train.csv')
df_test = pd.read_csv('../data/df_test.csv')

In [4]:
from data_cleaner import Clean_df

In [5]:
train = Clean_df(df_train)
test = Clean_df(df_test)

In [6]:
train.data_pipeline();
test.data_pipeline();

In [7]:
train.df.to_csv('../data/df_train_prep.csv')
test.df.to_csv('../data/df_test_prep.csv')

In [8]:
train.df.sample(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Quarter,Week,Day,WeekOfYear,DayOfYear,IsWeekDay,CompetitionOpenMonthDuration,PromoOpenMonthDuration,Season,Month_Status
942149,760,6,2013-03-09,8440,1243,1,0,0,0,a,...,1,10,9,10,68,0,26.0,24158.50,Spring,Beginning
184427,453,1,2015-02-16,7930,800,1,1,0,0,a,...,1,8,16,8,47,1,1381.0,24182.00,Winter,Mid
519858,1054,7,2014-03-23,0,0,0,0,0,0,a,...,1,12,23,12,82,0,1370.0,3.75,Spring,End
210936,202,5,2015-01-23,5808,502,1,0,0,0,d,...,1,4,23,4,23,1,56.0,24181.00,Winter,End
478625,1076,2,2014-04-29,3477,550,1,1,0,0,a,...,2,18,29,18,119,1,1371.0,16.25,Spring,End

In [9]:
test.df.dtypes

Store                                    int64
DayOfWeek                                int64
Date                            datetime64[ns]
Open                                   float64
Promo                                    int64
StateHoliday                            object
SchoolHoliday                            int64
StoreType                               object
Assortment                              object
CompetitionDistance                    float64
Promo2                                   int64
PromoInterval                           object
Until_Holiday                            int64
Since_Holiday                          float64
Year                                     int64
Month                                    int64
Quarter                                  int64
Week                                     int64
Day                                      int64
WeekOfYear                               int64
DayOfYear                                int64
IsWeekDay                                int64
CompetitionOpenMonthDuration           float64
PromoOpenMonthDuration                 float64
Season                                  object
Month_Status                            object
dtype: object